body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: #519975;
  font-family: cursor, monospace;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #020202, #001a04, #020202);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	
}

/*GRADIENT BG*/

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*END GRADIENT BG*/

/*NOISE BG*/

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

/*END NOISE BG*/

::selection {
  color: #211830;
  background-color: #519975;
}
::-moz-selection {
  color: #211830;
  background-color: #519975;
}
textarea {
  left: -1000px;
  position: absolute;
}
b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #0ba82d;
  background-color: #0ba82d;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
#command {
  cursor: text;
  height: 50px;
  color: #0ba82d;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}
#liner::before {
  color: #519975;
  content: "member@jimmyservice.xyz:~$";
}
#liner.password::before {
  content: "Password:";
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
  text-align: justify;
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #DCDCCC;
}
.color2 {
  color: #adac73;
 
}
.command {
  color: #73ABAD;
   
}
.error {
  color: #B89076;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: #c25454;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #73ABAD;
  color: #211830;
}
a:focus {
  outline: 0;
}
.audio {
  position: absolute;
  left: -999px;
  top: -999px;
}